TravellingTrail/bin/
TravellingTrail/gen/
actionbarsherlock/bin/
actionbarsherlock/gen/
SlidingMenuLibrary/bin/
SlidingMenuLibrary/gen/
ZrcListView/bin/
ZrcListView/gen/
afinal/bin/
afinal/gen/
NoScrollingListView/bin/
NoScrollingListView/gen/